html {
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  /*padding-left: 22px;
  padding-right: 18px;*/
  overflow-x: hidden;
}

.Title{
    font-family: 'Kavivanar', cursive;
}

.row1{
  padding-left: 18px;
  padding-right: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column1 {
  font-family: 'Roboto', sans-serif;
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .column1 {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
  padding: 0 16px;
}

.container1::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  background-color: #555;
}
 #nav{
   border-radius: 0px;
   padding-left: 0px;
   margin: 0px
 }
